// variables de colores
$users-copy-color = #cacaca
$users-circle-background = #9f9e9e
$facebook-blue = #3b5998
$twitter-cyan = #55acee
$twitter-hover-state = #55acee
$linkedin-blue = #007bb6
$linkedin-hover-state = $linkedin-blue
$github-grayish-blue = #50687c
$github-hover-state = $github-grayish-blue
$title-color = #50687c
$btn-bg-color = #4fa3de
$btn-hover-state = #4188ba
$list-item-color = #888888
$bullets-color = #93a0ab
$read-manifesto-color = $users-copy-color


body
  font-family 'Open Sans', sans-serif
  font-size 18px
 
// clases para fuentes
.open-sans
  font-family 'Open Sans'
  .bold
    font-weight 700
    
  .semi-bold
    font-weight 600
    
  .regular
    font-weight 400
    
  .italic
    font-style italic
  
.lato
  font-family 'Lato'
  .bold
    font-weight 700
    
  .regular
    font-weight 400
    
  .italic
    font-style italic

// clases de alineado
.align-center
  text-align center
  
.align-left
  text-align left
  
.align-right
  text-align right

// clases de display
.display-block
  display block
  
.display-inline-block
  display inline-block
  
.display-inline
  display inline
  
.display-none
  display none
  
// clases para botones
.btn
  //reset
  border 0px
  border-radius 6px
  
  &.btn-twitter
    background-color $twitter-cyan
    
    &:hover
      background-color $twitter-hover-state
  
  &.btn-linkedin
    background-color $linkedin-blue
    
    &:hover
      background-color $linkedin-hover-state
  
  &.btn-github
    background-color $github-grayish-blue
    
    &:hover
      background-color $github-hover-state
    
    
 

// reglas de estilo
div#hero
  margin-top 35px
  
header#header
  margin-top 20px

div#manifesto-signatures
  margin-bottom 30px
  
  div.circle
    background $users-circle-background
    border-radius 50%
    height 35px
    width 35px
    margin-right 10px
  p.users-copy
    color $users-copy-color
    font-size 14px

i.fa
  margin-top 5px
  font-size 35px
  margin-left 10px

i.fa-facebook-square
  color $facebook-blue

i.fa-twitter-square
  color $twitter-cyan

div#title h1
  margin-top 25px
  color $title-color

div#cta a.btn
  &:hover
    background-color $btn-hover-state
  color white
  background $btn-bg-color
  font-size 20px
  padding 10px 25px
  margin-top 25px
  margin-bottom 10px

div#read-manifesto p
  &:hover
    color $users-circle-background
  cursor pointer
  margin-top 10px
  color $read-manifesto-color
  
div#read-manifesto p:after
  font-family "FontAwesome"
  content "\f107"
  width 100%
  height 20px
  display block

#manifesto-list
  margin-top 20px
  ul.row
    li
      margin-bottom 40px
      div.n
        color $bullets-color
        vertical-align middle
        width 8%
        font-size 42px
        padding-right 20px
      div.content
        vertical-align middle
        color $list-item-color
        font-size 18px
        width 91%
        
div.modal#sign-manifesto
  div.modal-dialog
    width 75%
    left 0px
    div.modal-body
      padding-top 40px
      padding-bottom 40px
      img
        width 350px
      h4
        font-size 28px
        margin-bottom 60px
        color $title-color
      .btn
        font-size 18px
        padding-top 8px
        padding-bottom 8px
        margin-bottom 20px
        i.fa
          margin-top 0px
          margin-right 10px
          vertical-align middle
        span
          margin-top 0px
          vertical-align middle
  











  