body
  font-family 'Open Sans', sans-serif
  font-size 18px
 
p
	.open-sans
		font-family 'Open Sans'
		.bold
			font-weight 700
		.semi-bold
			font-weight 600
		.regular
			font-weight 400
		.italic
			font-style italic
		
	.lato
		font-family 'Lato'
		.bold
			font-weight 700
		.regular
			font-weight 400
		.italic
			font-style italic
